@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100");
  background-position: center;
  background-size: cover;
}
.title {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10rem;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 10px #0000003a;
}

.main {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrap {
  width: max-content;
  margin: 1rem;
  transform-style: preserve-3d;
  transform: perspective(100rem);
  cursor: pointer;
}

.container {
  --rX: 0;
  --rY: 0;

  width: 25rem;
  height: 31rem;
  border: 1px solid var(--background-color);
  border-radius: 1.6rem;
  padding: 4rem;

  display: flex;
  align-items: flex-end;

  position: relative;
  transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));

  backdrop-filter: blur(5px) saturate(200%);
  -webkit-backdrop-filter: blur(5px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.46);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

  transition: transform 0.6s 1s;
}

.container::before,
.container::after {
  content: "";

  width: 2rem;
  height: 2rem;
  border: 1px solid #fff;

  position: absolute;
  z-index: 2;

  opacity: 0.3;
  transition: 0.3s;
}

.container::before {
  top: 1.5rem;
  right: 1.5rem;

  border-bottom-width: 0;
  border-left-width: 0;
}

.container::after {
  bottom: 1.5rem;
  left: 1.5rem;

  border-top-width: 0;
  border-right-width: 0;
}

.container--active {
  transition: none;
}
.container p {
  color: #ffffff;
  font-size: 1rem;
}

.wrap:hover .container::before,
.wrap:hover .container::after {
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
}

.credits {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 1rem;
  color: #fff;
  font-size: 0.8rem;
}
.credits a {
  color: red;
  text-decoration: none;
  font-weight: 600;
}
.credits a:hover {
  text-decoration: underline;
}
